@mixin assign-grid-area {
  @for $i from 2 through 4 {
    .cards-list__item:nth-child(#{$i}) {
      grid-area: card#{($i - 2)};
      @if $i % 2 == 0 {
        align-self: stretch;
        justify-self: end;
      }
      @else {
        align-self: end;

      }

      @if $i == 2 {
        // padding-top: -150px !important;
      }
    }
  }
}

.cards-list__content {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(4, auto);
  margin-top: 180px;
  // justify-items: center;
  grid-template-areas: 
    "text  card0"
    "card1 card0"
    "card1 card2"
    ".     card2";

  @include assign-grid-area;
  margin-bottom: 50px;
}

.cards-list__item {
  box-shadow: 5px 20px 50px 0px #1070B133;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0 48px 48px;
  // justify-content: space-between;
  text-wrap: anywhere;
  margin: 50px;

}

.cards-list__text {
  grid-area: text;
} 

.card__image {
  max-width: 100%;  
  height: auto;
  &-container {
    height: 235px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
}
.card__link {
  align-self: flex-start;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 130px;
  width: 100%;

  position: relative;
  font-size: 14px;
  color: #5a98d0;
  font-weight: 600;

  &:hover {
    text-decoration: underline;
    transform: scale(1.1);

  }
}

// .cards-list__image {
//   object-fit: contain;
//   width: 50%;
// }

// .cards-list__item-0 > .cards-list__image {
//   margin-top: -150px;
// }

@media screen and (max-width: 768px) {
  .cards-list__content {
    grid-template-areas: 
    "text  text"
    "card0 card0"
    "card1 card1"
    "card2 card2";
    @include assign-grid-area;
  }
}