@import "./variables.scss";
@import "./components/nav/nav.scss";
@import "./components/footer/footer.scss";
@import "./components/description/card.scss";
@import "./components/hero/hero.scss";
@import "./components/popup/popup.scss";

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #333;
  width: 100vw;
  margin: 0;
  font-family: "Gilroy", 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #1F3F68
}


.hero__slogan {
  font-size: 64px;
  // font-family: Arial, Helvetica, sans-serif;
  color: #1F3F68;
  text-align: left;
}

[class$=__text] {
  font-family: Gilroy;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  text-align: left;

}

[class$=__slogan] {
  font-family: Galien;
  font-weight: 700;
  font-size: $title-font-size;
  letter-spacing: 0.04em;
  text-align: left;
}

[class$=__title] {
  font-family: Gilroy;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  text-align: left;
}

[class$=__title_smaller] {
  font-size: 20px;
  font-family: 'Gilroy';
}

[class$=__button] {
  margin-top: 40px;
  padding: 15px 50px;
  background: #5A98D0;
  border-radius: 10px;
  color: #fff;
  border: none;
  font-family: Gilroy;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  text-align: center;
  align-self: start;
  width: 100%;
  max-width: 220px;
  cursor: pointer;

  &:hover {
    background: #316099;
    transition: 0.3s;
    &:hover {
      animation: rotate 0.5s ease-in-out infinite alternate;
    }
  
    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(10deg);
      }
    }

  }
}

[class$=__content] {
  // padding-left: 200px; //variable
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}

[class$=_hidden] {
  // display: none;
  animation: disappear 0.5s ease-in-out;
  @keyframes disappear {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-20px);
      // display: none;
    }
  }
  & > li {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    display: none;
  }
  
}

[class$=_visible] {
  
  animation: appear 0.5s ease-in-out forwards;

  // background: linear-gradient(to bottom, transparent 40%, #000 40%, #000 60%, transparent 60%), linear-gradient(to right, transparent 40%, #000 40%, #000 60%, transparent 60%);


  @keyframes appear {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  // display: block;
}
